.about {
    padding: 20px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    @media(min-width: 576px) {
        padding: 30px 0;
    }

    @media(min-width: 768px) {
        padding: 80px 0;
    }

    @media(min-width: 992px) {
        padding: 165px 0;
    }

    &__text {
        padding-top: 24px;
    }

    &__title {
        text-align-last: left;
        padding-bottom: 12px;
    }

    p {
        padding-right: 5px;
        letter-spacing: .3px;
        margin-bottom: 5px;

        @media(min-width: 768px) {
            padding-right: 45px;
        }
        @media(min-width: 992px) {
            padding-right: 125px;
        }
    }
}