header {
    background: #fff;
    padding: 8px 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;

    @media(min-width: 576px) {
        position: static;
        padding: 16px 0;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}