.menu {

    &__holder {
        display: flex;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        // margin-right: 20px;
    }

    li {
        @extend %listreset;
        padding: 5px 25px 5px 0;

        &:last-child {
            padding-right: 0;
        }
    }

    a {
        transition: all 1s;
        position: relative;
        letter-spacing: 0.026em;

        &:hover {
            color: $main-color-2;

            &:after {
                content: "";
                width: 30px;
                height: 1px;
                background: $main-color-2;
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}