.menu {

    &__holder {
        display: flex;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
    }

    li {
        @extend %listreset;
        padding: 5px 28px 5px 0;

        &:last-child {
            padding-right: 0;
        }
    }

    a {
        transition: all 1s;
        position: relative;

        &:after {
            content: "";
            width: 0;
            height: 1px;
            background: $main-color-2;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            transition: all .5s;
        }

        &:hover {
            color: $main-color-2;

            &:after {
                width: 30px;
            }
        }
    }
}