.menu {
    font-size: 14px;
    font-weight: 600;

    ul {
        @extend %listreset;
    }

    a {
        transition: all 1s;
        position: relative;

        &:after {
            content: "";
            width: 0;
            height: 1px;
            background: $main-color-2;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            transition: all .5s;
        }

        &:hover {
            color: $main-color-2;

            &:after {
                width: 30px;
            }
        }
    }

    &-holder {
        display: none;

        @media(min-width: 576px) {
            display: flex;
        }

        li {
            padding: 5px 28px 5px 0;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .menu-burger {
        position: relative;

        @media(min-width: 576px) {
            display: none;
        }

        #menu-burger__toggle {
            opacity: 0;

            &:checked ~ .menu-burger__btn > span {
                transform: rotate(45deg);

                &:before {
                    top: 0;
                    transform: rotate(0);
                }

                &:after {
                    top: 0;
                    transform: rotate(90deg);
                }
            }

            &:checked ~ .menu-burger__holder  {
                top: 100px;
              }
        }

        &__btn {
            display: flex;
            align-items: center;
            position: fixed;
            top: 30px;
            right: 20px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            z-index: 1;

            & > span,
            & > span::before,
            & > span::after {
                display: block;
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: $main-color-1;
            }

            & > span::before {
                content: '';
                top: -8px;
            }

            & > span::after {
                content: '';
                top: 8px;
            }
        }

        &__holder {
            position: fixed;
            top: -400px;
            right: 0;
            min-width: 100%;
            background: $white;
            transition: all 1s;
            // z-index: 5;
        }

        li {
            margin: 10px;
            text-align: center;
        }
    }
}