.prices {
    background: url(../img/bg-03.jpg) bottom right -300px / contain no-repeat;
    background-size: 1130px;
    text-align: center;

    .container {
        padding: 0;
    }

    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

    }

    li {
        width: 100%;
        @extend %listreset;
        padding: 10px 15px 20px;

        @media(min-width: 576px) {
            width: 50%;
        }

        @media(min-width: 768px) {
            width: calc(100% / 3);
            padding: 100px 15px 91px;
        }
    }

    &__card {
        box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding-bottom: 35px;

        @media(min-width: 576px) {
            padding-bottom: 50px;
        }

        @media(min-width: 768px) {
            padding-bottom: 67px;
        }
    }

    &__head {
        min-height: 80px;
        background-color: $main-color-1;
        color: #ffffff;
        font-size: 67px;
        font-weight: 700;
        line-height: 50px;
        padding-top: 15px;
        border-radius: 10px 10px 0 0;
        margin-bottom: 30px;
        padding-right: 10px;

        @media(min-width: 768px) {
            line-height: 75.77px;
            min-height:150px;
            padding-top: 35px;
            margin-bottom: 44px;
        }

        span {
            position: relative;

            &:before {
                content: "$";
                font-size: 32px;
                font-weight: 700;
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -40px;
            }

            &:after {
                content: "/ month";
                position: absolute;
                right: -65px;
                bottom: 1px;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;

                @media(min-width: 768px) {
                    bottom: -10px;
                }

                @media(min-width: 992px) {
                    right: -85px;
                    font-size: 18px;
                }
            }
        }
    }

    &__body {
        flex-grow: 1;
        margin-bottom: 25px;

        @media(min-width: 768px) {
            margin-bottom: 43px;
        }
    }

    &__info {
        color: #555555;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 15px;
        position: relative;
        letter-spacing: -0.52px;

        @media(min-width: 576px) {
            margin-bottom: 30px;
        }

        @media(min-width: 768px) {
            margin-bottom: 40px;
        }

        &:after {
            content: "";
            width: 100px;
            position: absolute;
            height: 1px;
            left: 50%;
            transform: translateX(-50%);
            top: 25px;
            background-color: #ccc;

            @media(min-width: 768px) {
                top: 43px;
            }
        }

        &:nth-child(2) {
            &:after {
                @media(min-width: 768px) {
                    top: 40px;
                }
            }
        }

        &:last-child {
            margin: 0;
            &:after {
                content: none;
            }
        }
    }
}