.program {
    padding: 20px 0;

    @media(min-width: 768px) {
        padding: 114px 0 190px;
    }

    &__subtitle {
        text-align: center;
        color: #777777;
        font-family: $font-secondary;
        font-size: 41px;
        font-weight: 400;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        @extend %listreset;
        margin: 20px -15px 0;

        @media(min-width: 768px) {
            margin-top: 65px;
        }
    }

    li {
        text-decoration: none;
        padding: 0 15px 25px 15px;
        display: flex;

        @media(min-width: 768px) {
            width: 50%;
        }
    }

    span {
        color: #999999;
    }
}